<!--about section start-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
</head>

<body>
    <section class="about" id="about">
        <h1 class="heading"><span>About </span>Us</h1>
        <div class="row">
            <div class="image">
                <img src="/mycoffee/static/images/coffee.jpg" alt="coffee photo" width="550" height="780">
            </div>
            <div class="content">
                <h3>The Coffee Twilight Cafe</h3>
                <p>Welcome to Coffee Twilight Cafe! At Coffee Twilight Cafe, we specialize in serving creative and 
                customizable coffee experiences. Our cafe first opened its doors in Cyberjaya in 2024.
                We have got lots of ways to customize your coffee here.
                We offer a range of syrup options, including vanilla, chocolate, fresh milk, coconut milk ,and more. 
                Whether you prefer your coffee bold and intense or sweet and creamy, we have something for everyone.
                You also can make our own special coffee from different coffee beans in our cafe. Come and have fun trying out all 
                the different choices at Coffee Twilight Cafe. See you soon!!! </p>
                <p>Pick Up Time :10.00a.m - 6.00p.m</p>
                <p>(Please make sure you can pick up your order during this time before placing an order.Thank you ^-^)</p>
                <p>Operating Day  :Monday - Saturday (Sunday Closed) </p>
             </div>
        </div>
   
    
    </section>
    

</body>