@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* static/myapp/css/styles.css */
:root {
    --main-colour: #d9c6af;
    --black: #13131a;
    --bg: #967259;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

nav {
    padding: 15px 30px;
    display: flex;
    justify-content: left;
}

nav a {
    font-family: 'Times New Roman', Times, serif;
    color: #ece0d1;
    font-size: large;
    padding: 15px 30px;
    margin: 0 15px;
    background-color: #4f3e2a;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
    transform: scale(1.05);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #000000;
    text-transform: initial;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.heading span {
    text-align: center;
    text-transform: initial;
    color: var(--main-color);
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #ccc;
    padding: 2rem 0;
    text-transform: initial;
}

.review .box-container .box h3 {
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem 0;
    font-size: 2rem;
    color: #ffffff;
}

.review .box-container .box .content h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #ccc;
    padding: 2rem 0;
    text-transform: initial;
    text-align: left;
}

.stars {
    color: gold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.star i {
    margin-right: 5px;
}

.star:hover i {
    color: #ffd700;
}

form {
    max-width: 550px;
    margin: 0 auto;
    padding: 18px;
    background-color: #d9c6af;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

form input,
form textarea,
form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    text-transform: initial;
    font-family: 'Times New Roman', Times, serif;
}

form button {
    background-color: #4f3e2a;
    color: #d9c6af;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    transform: scale(1.05);
}
