@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-colour: #ece0d1;
    --black: #13131a;
    --bg: #000000; /* Change background color to black */
    --border: .1rem solid rgba(255, 255, 255, .3);
}

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #ffffff; /* Adjust text color to maintain readability */
    text-transform: initial;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    text-align: center;
    text-transform: initial;
    color: var(--main-colour);
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;
}

.about .row .image img{
    flex: 1 1 45em;
}

.about .row .image{
    width: 50%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 2.8rem;
    color: #ece0d1; /* Adjust text color to maintain readability */
}

.about .row .content p{
    font-size: 2.5rem;
    color: #ece0d1; /* Adjust text color to maintain readability */
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: initial;
}

.about .box1{
    padding: 5px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #ece0d1; /* Adjust text color to maintain readability */
}

.about .box1 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #ece0d1; /* Adjust text color to maintain readability */
    margin: left auto;
}
